<div class="container">
	<section class="timer-counter-label">
		<div> {{ counter }} </div>
		<ng-template #elseBlock> Press Start </ng-template>
	</section>
	<section class="timer-button-container">
		<button class="timer-button" (click)="startTimer()">
            {{ startText }}
        </button>
		<button class="timer-button" (click)="clearTimer()">Clear</button>
	</section>
</div>

<div *ngIf="success">
    <ng-template #asciiBlock>
        <div class="ascii-container">
            <pre>
                ░░█▀░░░░░░░░░░░▀▀███████░░░░ 
                ░░█▌░░░░░░░░░░░░░░░▀██████░░░ 
                ░█▌░░░░░░░░░░░░░░░░███████▌░░ 
                ░█░░░░░░░░░░░░░░░░░████████░░ 
                ▐▌░░░░░░░░░░░░░░░░░▀██████▌░░ 
                ░▌▄███▌░░░░▀████▄░░░░▀████▌░░ 
                ▐▀▀▄█▄░▌░░░▄██▄▄▄▀░░░░████▄▄░ 
                ▐░▀░░═▐░░░░░░══░░▀░░░░▐▀░▄▀▌▌ 
                ▐░░░░░▌░░░░░░░░░░░░░░░▀░▀░░▌▌ 
                ▐░░░▄▀░░░▀░▌░░░░░░░░░░░░▌█░▌▌ 
                ░▌░░▀▀▄▄▀▀▄▌▌░░░░░░░░░░▐░▀▐▐░ 
                ░▌░░▌░▄▄▄▄░░░▌░░░░░░░░▐░░▀▐░░ 
                ░█░▐▄██████▄░▐░░░░░░░░█▀▄▄▀░░ 
                ░▐░▌▌░░░░░░▀▀▄▐░░░░░░█▌░░░░░░ 
                ░░█░░▄▀▀▀▀▄░▄═╝▄░░░▄▀░▌░░░░░░ 
                ░░░▌▐░░░░░░▌░▀▀░░▄▀░░▐░░░░░░░ 
                ░░░▀▄░░░░░░░░░▄▀▀░░░░█░░░░░░░ 
                ░░░▄█▄▄▄▄▄▄▄▀▀░░░░░░░▌▌░░░░░░ 
                ░░▄▀▌▀▌░░░░░░░░░░░░░▄▀▀▄░░░░░ 
                ▄▀░░▌░▀▄░░░░░░░░░░▄▀░░▌░▀▄░░░ 
                ░░░░▌█▄▄▀▄░░░░░░▄▀░░░░▌░░░▌▄▄ 
                ░░░▄▐██████▄▄░▄▀░░▄▄▄▄▌░░░░▄░ 
                ░░▄▌████████▄▄▄███████▌░░░░░▄ 
                ░▄▀░██████████████████▌▀▄░░░░ 
                ▀░░░█████▀▀░░░▀███████░░░▀▄░░ 
                ░░░░▐█▀░░░▐░░░░░▀████▌░░░░▀▄░ 
                ░░░░░░▌░░░▐░░░░▐░░▀▀█░░░░░░░▀ 
                ░░░░░░▐░░░░▌░░░▐░░░░░▌░░░░░░░ 
                ░╔╗║░╔═╗░═╦═░░░░░╔╗░░╔═╗░╦═╗░ 
                ░║║║░║░║░░║░░░░░░╠╩╗░╠═╣░║░║░ 
                ░║╚╝░╚═╝░░║░░░░░░╚═╝░║░║░╩═╝░ 
                </pre>
        </div>
    </ng-template>
</div>